/***********************
    header setting
************************/
#header {
  z-index: 0;
  height: 200px;
  width: auto;
  background: #b8b8b8;
  position: relative;
  overflow: hidden;
}

.header-row {
  z-index: 1;
  position: relative;
  opacity: 0.6;
  top: -30.5em;
  right: -0.5rem;
  padding-right: 2.5%;
  float: left;
  width: 100%;
  font-size: 0.5vw;
}

@media screen and (min-width: 500px) {
  .header-row {
    font-size: 2.5px;
  }
}

.hex {
  position: relative;
  filter: drop-shadow(0px 0px 2px #000);
  float: right;
  margin-left: -6.5em;
  margin-bottom: -12.5em;
  height: 26em;
  width: 30em;
  transform-style: preserve-3d;
}

.hex .front {
  position: absolute;
}

.hex:hover {
  filter: drop-shadow(0px 0px 2px #fff);
}

.hex:hover .right {
  color: #555;
  border-right-color: #555;
}

.hex:hover .left {
  color: #555;
  border-left-color: #555;
}

.hex:hover .middle {
  background-color: #555;
}

.hex:hover.link span {
  color: #fff;
}

.hex.link span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #5e5e5e;
  text-shadow: 0 0 1px;
  transition: color 0.4s;
}

.hex .right {
  float: right;
  width: 0;
  background: transparent;
  color: #b8b8b8;
  border-right: 7.5em solid #b8b8b8;
  border-top: 13em solid transparent;
  border-bottom: 13em solid transparent;
  transition: border-right-color 0.2s, color 0.2s;
}

.hex .middle {
  float: right;
  width: 15em;
  height: 26em;
  background: #b8b8b8;
  transition: background 0.2s;
}

.hex .left {
  float: right;
  width: 0;
  color: #b8b8b8;
  border-left: 7.5em solid #b8b8b8;
  border-top: 13em solid transparent;
  border-bottom: 13em solid transparent;
  transition: border-left-color 0.2s, color 0.2s;
}

.hex-row {
  clear: right;
}

.hex.even {
  margin-top: 13.2em;
}